<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Preguntas</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet'
    media="only screen and (min-width: 500px) and (min-device-width: 481px) "
    href='/stylesheets/wide.css' />
    <link rel='stylesheet'
    media="only screen and (max-device-width: 480px) "
    href='/stylesheets/smartphone.css' />

  </head>
  <body>
    <div id="page-wrap">
      <header class="main" id="h1">

      </header>
      <nav class="main" id="n1" role="navigation">
        <span><a href="/">Inicio</a></span>
        <span><a href="/quizes/question">Responder una Pregunta</a></span>
        <span><a href="/quizes/questions">Lista de Preguntas</a></span>
      </nav>
      <section class="main" id="s1">
        <%- body %>
      </section>
      <footer class="main" id="f1">
        <a href="http://es.wikipedia.org/wiki/Quiz">¿Que es un Quiz?</a>
      </footer>
    </div>
  </body>
</html>
