<ul>
  <% for(var i=0;i<optionen.length;i++) { %>
    <input type='text' name='respuesta' placeholder='Ponga la respuesta' autofocus=''>
        <li>  <%- optionen[i] %> </li>  
  <% } %>
</ul>
