
  <% for(var i=0;i< optionen.length;i++) { %>
    <%# <option type='text' name='respuesta' placeholder='Ponga la respuesta' autofocus=''></option>%>

      <input type="Radio" name="respuesta" Value="<%- optionen[i] %>"><%- optionen[i] %></input>

  <% } %>
