<ul>
  <% for(var i=0;i< pregunta.optionen.length;i++) { %>
    <%# <option type='text' name='respuesta' placeholder='Ponga la respuesta' autofocus=''></option>%>
  <li>
    <input type="text" name="respuesta" placeholder="Ponga la respuesta" autofocus=""> <%- pregunta.optionen[i] %>
  </li>
  <% } %>
</ul>
